:root {
    --overpass-font-family: "Overpass", sans-serif;
    --overpass-font-weight-400: 400;
    --overpass-font-weight-700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%);
    padding: 1rem;
    margin: 1.5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Overpass",
        sans-serif;
}

.content,
.thank-you {
    background-color: hsl(213, 19%, 18%);
    border-radius: 30px;
    padding: 2rem 1.5rem;
    max-width: 400px;
    background-image:
        linear-gradient(to bottom,
            hsl(212, 18%, 14%),
            hsl(220, 16%, 11%));
}

.star-containter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262c38;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    padding: 1rem;
    margin-bottom: 1.2rem;
}

.thankyou-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

h1,
h2 {
    color: hsl(0, 0%, 100%);
    font-family: "Overpass",
        sans-serif;
    font-weight: 700;
    font-size: 23px
}

h2 {
    text-align: center;
    margin-block: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.content ul li button {
    background-color: #262c38;
    border: none;
    border-radius: 50%;
    padding-top: 0.2rem;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    transition: 0.3s;
    font-size: 15px;
    height: 3rem;
    width: 3rem;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-inline-end: 15px;
}

.btn:hover {
    background-color: #ffffff;
    color: black;
}

.btn:focus {
    background-color: hsl(25, 97%, 53%);
}

p {
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsl(217, 12%, 63%);
    line-height: 1.4rem;
    margin-top: 20px;
    letter-spacing: 0.2px;
}

.thank-you p {
    text-align: center;
    margin-bottom: 20px;
}

.selection-text {
    background-color: #262c38;
    border-radius: 30px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 3px;
    padding-inline: 8px;
    color: hsl(25, 97%, 53%);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

button {
    font-family: inherit;
}

.btn-submit {
    display: inline-block;
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 0.9rem;
    padding-bottom: 0.6rem;
    transition: 0.3s
}

.btn-submit:hover {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}