USE [master]
GO
/****** Object:  Database [SQL_Project_1]    Script Date: 25/08/2024 16:09:31 ******/
CREATE DATABASE [SQL_Project_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQL_Project_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SQL_Project_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SQL_Project_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SQL_Project_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SQL_Project_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SQL_Project_1]
GO
/****** Object:  Table [dbo].[Accounting]    Script Date: 25/08/2024 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounting](
	[ReceiptNo] [int] NOT NULL,
	[Date] [date] NULL,
	[Amount] [decimal](10, 2) NULL,
	[CreditDebt] [decimal](10, 2) NULL,
	[InvNo] [int] NULL,
	[OrderNo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 25/08/2024 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustID] [int] NOT NULL,
	[CustType] [varchar](50) NOT NULL,
	[CustStatus] [int] NOT NULL,
	[FreezCode] [int] NULL,
	[OverCount] [int] NULL,
	[CustName] [varchar](255) NULL,
	[DelivAddress] [varchar](255) NULL,
	[MailAddress] [varchar](255) NULL,
	[CreditCard] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryFees]    Script Date: 25/08/2024 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryFees](
	[Delivery] [int] NOT NULL,
	[Descrpt] [varchar](255) NULL,
	[Delfee] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Delivery] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 25/08/2024 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[CustType] [varchar](50) NOT NULL,
	[Discnt] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExOrders]    Script Date: 25/08/2024 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExOrders](
	[Date] [date] NULL,
	[OrderNo] [int] NOT NULL,
	[CustID] [int] NULL,
	[Code] [varchar](50) NOT NULL,
	[Quant] [int] NULL,
	[Address] [varchar](255) NULL,
	[Status] [varchar](50) NULL,
	[SuppDate] [date] NULL,
	[Delivery] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 25/08/2024 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvNo] [int] NOT NULL,
	[Date] [date] NULL,
	[OrderNo] [int] NULL,
	[UnitDesc] [varchar](255) NULL,
	[NoUnits] [int] NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[TotAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 25/08/2024 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Code] [varchar](50) NOT NULL,
	[Descrpt] [varchar](255) NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[Available] [int] NULL,
	[Saved] [int] NULL,
	[Waiting] [int] NULL,
	[Subscript] [int] NULL,
	[Freq] [int] NULL,
	[SuppDate] [date] NULL,
	[OrderPercent] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Number]    Script Date: 25/08/2024 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Number](
	[LastOrder] [int] NOT NULL,
	[LastSubsc] [int] NULL,
	[LastStock] [int] NULL,
	[LastReceipt] [int] NULL,
	[LastInvoice] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LastOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 25/08/2024 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[Profile] [varchar](50) NOT NULL,
	[act] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Profile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reciept]    Script Date: 25/08/2024 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reciept](
	[RecieptNo] [int] NOT NULL,
	[PymentDate] [date] NULL,
	[InvNo] [int] NULL,
	[OrderNo] [int] NULL,
	[PaidAmt] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecieptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockOrder]    Script Date: 25/08/2024 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockOrder](
	[OrderNostock] [int] NOT NULL,
	[StockDate] [date] NULL,
	[Code] [varchar](50) NULL,
	[Descrpt] [varchar](255) NULL,
	[Quant] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderNostock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscription]    Script Date: 25/08/2024 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscription](
	[OrderNoSub] [int] NOT NULL,
	[Status] [varchar](50) NULL,
	[CustID] [int] NULL,
	[Code] [varchar](50) NULL,
	[Quant] [int] NULL,
	[Freq] [int] NULL,
	[NextOrder] [date] NULL,
	[Expiration] [date] NULL,
	[Delivery] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderNoSub] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/08/2024 16:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserName] [varchar](50) NOT NULL,
	[Profile] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExOrders] ADD  DEFAULT ((0)) FOR [Delivery]
GO
ALTER TABLE [dbo].[Accounting]  WITH CHECK ADD FOREIGN KEY([InvNo])
REFERENCES [dbo].[Invoices] ([InvNo])
GO
ALTER TABLE [dbo].[Accounting]  WITH CHECK ADD FOREIGN KEY([OrderNo])
REFERENCES [dbo].[ExOrders] ([OrderNo])
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_CustType] FOREIGN KEY([CustType])
REFERENCES [dbo].[Discount] ([CustType])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_CustType]
GO
ALTER TABLE [dbo].[ExOrders]  WITH CHECK ADD  CONSTRAINT [FK_ExOrders_CODE] FOREIGN KEY([Code])
REFERENCES [dbo].[Items] ([Code])
GO
ALTER TABLE [dbo].[ExOrders] CHECK CONSTRAINT [FK_ExOrders_CODE]
GO
ALTER TABLE [dbo].[ExOrders]  WITH CHECK ADD  CONSTRAINT [FK_ExOrders_CustID] FOREIGN KEY([CustID])
REFERENCES [dbo].[Customers] ([CustID])
GO
ALTER TABLE [dbo].[ExOrders] CHECK CONSTRAINT [FK_ExOrders_CustID]
GO
ALTER TABLE [dbo].[ExOrders]  WITH CHECK ADD  CONSTRAINT [FK_ExOrders_Delivery] FOREIGN KEY([Delivery])
REFERENCES [dbo].[DeliveryFees] ([Delivery])
GO
ALTER TABLE [dbo].[ExOrders] CHECK CONSTRAINT [FK_ExOrders_Delivery]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([OrderNo])
REFERENCES [dbo].[ExOrders] ([OrderNo])
GO
ALTER TABLE [dbo].[Reciept]  WITH CHECK ADD FOREIGN KEY([InvNo])
REFERENCES [dbo].[Invoices] ([InvNo])
GO
ALTER TABLE [dbo].[Reciept]  WITH CHECK ADD FOREIGN KEY([OrderNo])
REFERENCES [dbo].[ExOrders] ([OrderNo])
GO
ALTER TABLE [dbo].[StockOrder]  WITH CHECK ADD FOREIGN KEY([Code])
REFERENCES [dbo].[Items] ([Code])
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD FOREIGN KEY([CustID])
REFERENCES [dbo].[Customers] ([CustID])
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD FOREIGN KEY([Code])
REFERENCES [dbo].[Items] ([Code])
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_Delivery] FOREIGN KEY([Delivery])
REFERENCES [dbo].[DeliveryFees] ([Delivery])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_Delivery]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Profile] FOREIGN KEY([Profile])
REFERENCES [dbo].[Profiles] ([Profile])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Profile]
GO
USE [master]
GO
